<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Today</title>
</head>
<body>
    <% if( day==6|| day==0){ %>
        <h1>Hey! Its a Weekend, it's time to have fun!!</h1>
    <% }
    else{ %>
        <h1>Hey! Its a Weekday, it's time to Hard Work!!</h1>
    <%} %>
    <h3>Today is <%= day%>th day of the week</h3>
</body>
</html>